<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
	<footer class="footer bg-grey">

		<div class="footer-meta">
			<div class="footer-container">
				<div class="meta-item meta-copyright">
					<div class="meta-copyright-info">
						<div class="info-text">

							<p>
								&copy; 版权所有 <a href="https://github.com/angelspace"
									target="_blank" rel="nofollow">代码来了</a>
							</p>
							<br />
							<p>关于</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>

</body>
</html>