<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{../css/bootstrap-theme.min.css}" rel="stylesheet" />
<link th:href="@{../customer/style.min.css}" rel="stylesheet" />
<meta charset="UTF-8" />
<title>Title</title>
</head>


<body>
	<div id="wrapper">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">代码来了</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">全部 <span class="sr-only">(current)</span></a></li>
						<li class="active"><a href="#">Android <span
								class="sr-only">(current)</span></a></li>
						<li class="active"><a href="#">iOS <span class="sr-only">(current)</span></a></li>
						<li class="active"><a href="#">前端 <span class="sr-only">(current)</span></a></li>
						<li class="active"><a href="#">后端 <span class="sr-only">(current)</span></a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">注册</a></li>
						<li><a href="#">登录</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>


		<div class="main-content index-page clearfix">
			<div class="post-lists">
				<div class="post-lists-body">
					<div class="post-list-item" th:each="article: ${articles}">
						<div class="post-list-item-container">

							<div class="item-slant reverse-slant &lt; bg-deepgrey"></div>
							<div class="item-slant"></div>
							<div class="item-label">
								<div class="item-title">
									<a th:text="${article.title}"></a>
								</div>
								<div class="item-meta clearfix">
									<div class="item-meta-cat" th:utext="${article.language}">
									</div>



								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<nav class="text-center">
			<ul class="pagination">

				<li><a href="">&laquo;</a></li>

				<li><a th:if="${not isFirstPage}"
					th:href="@{${'/home'}(pageNumber=${pageNum-1},pageSize=${pageSize})}">上一页</a>
					<a th:if="${isFirstPagee}" href="javascript:void(0);">上一页</a></li>

				<li th:each="pageNo : ${#numbers.sequence(1, totalPages)}"><a
					th:if="${pageNum eq pageNo}" href="javascript:void(0);"> <span
						th:text="${pageNo}"> </span>
				</a> <a th:if="${not (pageNum eq pageNo)}"
					th:href="@{${'/home'}(pageNumber=${pageNo},size=${pageSize})}">
						<span th:text="${pageNo}"></span>
				</a></li>
				<li><a th:if="${not isLastPage}"
					th:href="@{${'/home'}(pageNumber=${pageNum+1},size=${pageSize})}">下一页</a>
					<a th:if="${isLastPage}" href="javascript:void(0);">下一页</a></li>

				<li><a href="#">&raquo;</a></li>
			</ul>
		</nav>



	</div>
</body>
</html>